/* Variables */
$color-one:  #ecf0f1;
$color-two: #f1c40f;
$color-three: #d35400;
$color-four: #3498db;
$color-five: #27ae60;
$color-six: #2ecc71;
$color-seven: #34495e;
$font-color: #2c2c54;

$font-roboto: 'Roboto', sans-serif; 
$font-inconsolata: 'Inconsolata', monospace;
